<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1><%= title %></h1>
<p>Welcome to <%= subTitle %></p>
<form action="/smartphone/setAlarm" method="post">
    <input type="text" name="time" value="mytime" />
    <input type="submit" />
</form>


<div><button type="submit"><a href="/smartphone/setAlarm">Set alarm</a></button></div>
<div><button type="submit"><a href="/smartphone/snooze">Snooze</a></button></div>
<div><button type="submit"><a href="/coffeemaker">Make coffee</a></button></div>
<div><button type="submit"><a href="/doorsensor/setAlarm">Set alarm</a></button></div>
<div><button type="submit"><a href="/doorsensor/snooze">Snooze</a></button></div>
</body>
</html>